<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Good Luck:)</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<script type="text/javascript" src="lib/js/jquery-3.2.1.min.js" ></script>
		<script type="text/javascript" src="lib/js/bootstrap.min.js" ></script>
		<script type="text/javascript" src="lib/js/popper.min.js" ></script>
		<script type="text/javascript" src="js/javalab_console.js" ></script>
		<link rel="stylesheet" href="lib/css/bootstrap.min.css" />
		<link rel="shortcut icon" href="favicon.ico">
		<link rel="stylesheet" href="css/seach_success.css" />
	</head>
	<body>
		<nav class="navbar navbar-light bg-light">
		  <a class="navbar-brand" href="/searchmyid">
		    <img src="img/Java_logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
		    Java Lab 数据中心
		  </a>
		</nav>
		
		<div id="flag_top"></div>
		
		<div id="main_box">
			<div id="title-1"><%= title1%></div>
			<div id="title-2"><span><%= title2%></span></div>
			<div id="title_box">
				<div id="title-3"><%= title3%></div>
				<div id="title-4"><%= title4%></div>
				<div id="title-5"><%= title5%></div>
			</div>
		</div>
		
		<div id="flag_bottom"></div>
	</body>
</html>
